<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <logger name="com.mend.service" level="DEBUG" additivity="false"/>
    <logger name="org.springframework.cloud" level="DEBUG" additivity="false"/>
    <logger name="de.codecentric.boot" level="DEBUG" additivity="false"/>
    <logger name="de.codecentric.boot.admin.server.web.reactive.AdminControllerHandlerMapping" level="INFO"
            additivity="false"/>
    <root level="INFO"/>
</configuration>
